<template>
  <v-container id="admin-view">
    <v-layout align-start justify-end row>
      <v-btn @click="onEditButtonClick" v-bind="buttonEditStyle">
        {{editModeButtonText}}
      </v-btn>
    </v-layout>
    <v-layout align-center justify-center row fill-height wrap>
       <v-flex>
        <v-card>
          <v-form
            ref="form"
          >
            <v-text-field
              v-model="fullName"
              label="Full Name"
              placeholder="No full name yet."
              required
              :disabled="!isEditMode"
              :rules="nameRules"
            >
            </v-text-field>
            <v-text-field
              v-model="address"
              label="Address"
              placeholder="No address yet."
              required
              :disabled="!isEditMode"
              :rules="addressRules"
            >
            </v-text-field>
            <v-text-field
              v-model="phoneNumber"
              label="Telephone Number"
              placeholder="No telephone number yet."
              required
              :disabled="!isEditMode"
              :rules="phoneNumberRules"
            >
            </v-text-field>
            <v-combobox
              hide-selected
              label="Active groups"
              placeholder="No active groups yet"
              multiple
              persistent-hint
              small-chips
              :items="activeGroupsValues"
              :disabled="!isEditMode"
            ></v-combobox>
          </v-form>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'Admin',
  data: () => ({
    activeGroupsValues: ['Test 1', 'Test 2'],
    isEditMode: false,
    color: 'dark',
    editModeButtonText: 'Edit',
    fullName: '',
    address: '',
    phoneNumber: null,
    nameRules: [
      v => !!v || 'Name is required',
    ],
    addressRules: [
      v => !!v || 'Address is required',
    ],
    phoneNumberRules: [
      v => !!v || 'Phone number is required',
      v => (!!v && /^[0-9]+$/.test(v)) || 'Phone number cannot contain letters',
      v => (!!v && v.length) >= 6 || 'Phone number must have at least 6 digits',
    ],
  }),
  /**
   * Before mount handler for this component. It gets the user data from the store
   * and assigns a fresh copy of it to the data.
   * @returns {*}
   */
  beforeMount() {
    const user = this.$store.getters.getUser;
    Object.assign(this, user);
  },
  computed: {
    /**
     * When the edit button is in edit mode then changes it's color to green,
     * otherwise when the button is in view mode change it back to dark
     * @returns {*}
     */
    buttonEditStyle() {
      return this.isEditMode ? { color: 'success' }
        : { color: 'dark' };
    },
  },
  methods: {
    /**
     * Handler for the edit button of the form. Changes the text of the button to Edit or
     * Save as needed, and if the form validates, dispatches an event to the store to
     * save the form data.
     * @returns {boolean}
     */
    onEditButtonClick() {
      const currentEditMode = this.$data.isEditMode;
      const { form } = this.$refs;

      if (currentEditMode && form.validate()) {
        this.$data.isEditMode = false;
        this.$data.editModeButtonText = 'Edit';
        this.$store.dispatch('updateUser', {
          fullName: this.fullName,
          address: this.address,
          phoneNumber: this.phoneNumber,
        });
        return true;
      }
      this.$data.isEditMode = true;
      this.$data.editModeButtonText = 'Save';
      return false;
    },
  },
};
</script>

<style lang="scss" scoped>
  #admin-view {
    .v-card {
      padding: 20px;
      font-size: 1.5em;
    }
    button {
      &.v-btn {
        margin-right: 0;
        font-size: 1.2em;
      }
    }
  }
</style>
