<template>
  <v-container id="main-view">
      <v-layout align-start justify-start fill-height>
        <v-flex>
          <v-card dark>
            <h2>Hello {{userFullName}},</h2>
            <h2 v-if="userGroups.length < 1" >Currently you do not belong to any groups :-(,
              <a href="/admin">Click</a> to create a new group</h2>
          </v-card>
        </v-flex>
      </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'Main',
  data: () => ({
    userFullName: '',
    userGroups: [],
  }),
  beforeMount() {
    const user = this.$store.getters.getUser;

    if (user && user.fullName) {
      this.userFullName = user.fullName;
    } else {
      this.userFullName = 'User';
    }
  },
};
</script>

<style lang="scss" scoped>
  #main-view {
    .v-card {
      padding: 20px;
      font-size: 1.5em;
    }
  }
</style>
