<template>
  <v-app dark>
    <v-content>
      <div v-if="isAuthorized">
        <MainNavigation/>
      </div>
      <router-view></router-view>
    </v-content>
  </v-app>
</template>

<script>
import MainNavigation from './components/navigation/MainNavigation.vue';

// App Security
import AppSecurity from './utils/AppSecurity';

export default {
  name: 'App',
  components: { MainNavigation },
  data() {
    return {
    };
  },
  computed: {
    isAuthorized() {
      return AppSecurity.hasAccess();
    },
  },
};
</script>
